<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Femme Fatale`</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="icon" href="./assets/images/Logo/ff.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- Cropper.js library -->

    <link href="https://cdn.jsdelivr.net/npm/cropperjs@1.6.1/dist/cropper.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="header-info d-flex align-items-center">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i>
                                <p>+91 9495918830</p>
                            </li>
                            <li><i class="fi-rs-marker"></i><a href="#">Our location</a></li>
                        </ul>
                    </div>
                    <% if(locals.userData) { %>
                        <div class="header-info d-flex align-items-center">
                            <ul>
                                <li class="fs-6 text-dark">Welcome, <%= locals.userData ? locals.userData.name
                                        : 'userData.name' %>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <img style="width: 30px; height: 30px;"
                                            src="/assets/images/Logo/profile_live-removebg.png" alt="profile_logo">
                                        <i class="fi-rs-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                        <li><a class="dropdown-item active" href="#">Contact</a></li>
                                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <% } else { %>
                            <div class="header-info d-flex align-items-center">
                                <ul>
                                    <li><i class="fi-rs-user"></i><a href="/login">Log In / Sign Up</a></li>
                                </ul>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo">
                        <a id="logo_ff" href="/home"><img src="/assets/images/Logo/FemmeFatale_logo.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="get">
                                <input type="text" placeholder="Search..">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2 ">
                                    <a class="mini-cart-icon me-3" href="/cart">
                                        <img class="ms-1" alt="FF" src="/assets/imgs/theme/icons/icon-cart.svg">
                                        <p>Cart</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/home"><img src="/assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex ">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <i class="evara-font-cpu"></i> Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Face wash</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Body Lotion</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Face serum</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Masks</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Hair oil</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Shampoo</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Conditioner</a>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Hair serum</a></li>
                                    <li>
                                        <ul class="more_slide_open" style="display: none;">
                                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Beauty &
                                                    Health</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Bath &
                                                    body</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Mom &
                                                    Baby</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="more_categories">Show more...</div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/profile">My Account</a></li>
                                            <li><a href="/coupons">Coupons</a></li>
                                            <li><a href="/wallet">Wallet</a></li>
                                            <li><a href="/logout">Logout</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/home">Home</a>
                                    </li>
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>