<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= locals.title %>
    </title>
    <meta name="description" content="<%= locals.description %>" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
</head>

<body>
    <!-- Navbar -->
    <div style="background-image: url('./assets/images/background/240_F_538627760_ah9BPKQ0K4d9PnJ6O5UrsPATy1IaY3ne.jpg'); background-repeat: no-repeat; background-size: cover;" class="image-fluid">
        <nav class="navbar navbar-expand-lg bg-body-transparent d-flex position-absolute fixed-top">
            <div class="container container-logo " style="margin:0 0 0 20px; width: 30vw;">
                <a id="logo_ff" href="#"><img class="img-fluid ustify-content-start"
                        src="./assets/images/Logo/FemmeFatale_logo.png" alt="logo_ff"></a>
            </div>
        </nav>
        <div style="background-image: url('./assets/images/background/240_F_538627760_ah9BPKQ0K4d9PnJ6O5UrsPATy1IaY3ne.jpg'); background-repeat: no-repeat; background-size: cover;" class="image-fluid container">
            <div class="row justify-content-center">
                <div class="col-lg-5 mt-5">
                    <!-- OTP Verification -->
                    <div style="background-image:  url('./assets/images/background/360_F_252462576_koy7njo9iYx6gUcM26IZcDUs9fMKIKJs.jpg'); background-repeat: no-repeat; background-size: cover; margin-top: 13vh; margin-bottom: 17vh;" class="image-fluid bg-light bg-opacity-10 pt-4">
                        <div class="card-body pt-4 pb-5">
                            <h1 class="card-title text-center pb-3 text-dark">OTP Verification</h1>
                            <p class="text-center pb-3 text-dark">Enter the OTP recieved on your number</p>
                            <% if (typeof message !=='undefined' ) { %>
                                <div style="height: 15px; padding-top: 4px;" class="alert text-danger text-center">
                                    <h5>
                                        <%= message %>
                                    </h5>
                                </div>
                            <% } %>
                            <form class="pt-3" id="otpForm" action="/otp" method="post">
                                <div class="mb-2 d-flex justify-content-center align-items-center">
                                    <input class="text-center rounded mb-3" placeholder="One Time Password" type="text" name="otp" required minlength=4 maxlength=6 pattern="[0-9]{4-6}"/>
                                </div>
                                <div class="text-center pt-2">
                                    <button type="submit" class="btn btn-primary w-50 rounded-pill mb-2">Verify</button>
                                </div>
                            </form>
                            <p class="mt-3 text-center">
                                Didn't get OTP? <a href="/resendotp" class="text-decoration-none" id="resendLink" >Resend</a>
                                <br>
                                <span class="text-secondary" id="otp-expiry-time"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
                            const otpForm = document.getElementById('otpForm');
                            const otpInputs = otpForm.querySelectorAll('input[name="otp"]');
                            const resendLink = document.getElementById('resendLink');
                    
                            var storedCountdownValue = localStorage.getItem('countdownValue');
                            var countdownValue = storedCountdownValue ? parseInt(storedCountdownValue) : 30;
                    
                            var countdownInterval;
                    
                            window.onload = function () {
                                resendOTP();
                            };
                    
                            function resendOTP() {
                                console.log('Resend OTP button clicked');
                                resendLink.style.pointerEvents = 'none'; // Disable link
                                resendLink.style.color = 'gray'; // Change link color
                                // console.log(countdownInterval,"count");
                                
                                clearInterval(countdownInterval);
                                countdownInterval = setInterval(function() {
                                    countdownValue--;
                    
                                    if (countdownValue <= 0) {
                                        clearInterval(countdownInterval);
                                        resendLink.style.pointerEvents = 'auto'; // Enable link when countdown ends
                                        resendLink.style.color = 'blue'; // Restore original link color
                                        $("#otp-expiry-time").text('');
                                        countdownValue = 60;
                                    } else {
                                        $("#otp-expiry-time").text('Resend will be active in ' + countdownValue + ' seconds');
                                    }
                    
                                    localStorage.setItem('countdownValue', countdownValue.toString());
                                }, 1000);
                            }
                        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>