<%- include('../layouts/userHeader.ejs') %>

    <main class="main">
        <section class="pt-80 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <%- include('../layouts/userSidebar.ejs') %>
                            
                            <div class="col-md-8">
                                <div class="card">
                                    <section class="content-body p-xl-4">
                                        <form id="myForm" action="/resetPassword" method="post"
                                            onsubmit="return validation()">
                                            <div class="form-group">
                                                <label for="oldPassword" class="form-label">Old Password</label>
                                                <input type="password" class="form-control" id="oldPassword"
                                                     placeholder="Old Password" onblur="oldPasswordChecking()" name="oldPassword" required>
                                                <div id="errorOldPassword" class="ms-2 text-danger"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="newPassword" class="form-label">New Password</label>
                                                <input type="password" class="form-control" name="password"
                                                    placeholder="New Password" onblur="passwordChecking()" id="password"
                                                    required />
                                                <div id="errorpassword" class="ms-2 text-danger"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="confirmPassword" class="form-label">Confirm New
                                                    Password</label>
                                                <input type="password" name="confirmPassword" class="form-control"
                                                    placeholder="Confirm Password" onblur="password2Checking()"
                                                    id="cpassword" required />
                                                <div id="errorcpassword" class="ms-2 text-danger"></div>
                                            </div>
                                            <% if (typeof message !=='undefined' ) { %>
                                                <div style="height: 15px; padding-top: 4px;" class="alert text-danger">
                                                    <h5>
                                                        <%= message %>
                                                    </h5>
                                                </div>
                                                <% } %>
                                                    <button class="btn btn-primary" type="submit">Change
                                                        Password</button>
                                        </form>
                                        <!-- End of reset password form -->
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>


    function oldPasswordChecking() {
        let oldPassword = document.getElementById("oldPassword").value;
        if (oldPassword === "") {
            document.getElementById("errorOldPassword").innerHTML = "Please enter your old password";
            return false;
        } else if (oldPassword.length < 8) {
            document.getElementById("errorOldPassword").innerHTML = "Enter a minimum of 8 characters";
            return false;
        } else {
            document.getElementById("errorOldPassword").innerHTML = "";
            return true;
        }
    }

    function passwordChecking() {
        let password = document.getElementById("password").value;
        if (password === "") {
            document.getElementById("errorpassword").innerHTML = "Create your password";
            return false;
        } else if (password.length < 8) {
            document.getElementById("errorpassword").innerHTML = "Enter a minimum of 8 characters";
            return false;
        } else {
            document.getElementById("errorpassword").innerHTML = "";
            return true;
        }
    }

    function password2Checking() {
        let password = document.getElementById("password").value;
        let password2 = document.getElementById("cpassword").value;
        if (password2 === "") {
            document.getElementById("errorcpassword").innerHTML = "Confirm your password";
            return false;
        } else if (password2 !== password) {
            document.getElementById("errorcpassword").innerHTML = "Passwords do not match";
            return false;
        } else if (password2.length < 8) {
            document.getElementById("errorcpassword").innerHTML = "Enter a minimum of 8 characters";
            return false;
        } else {
            document.getElementById("errorcpassword").innerHTML = "";
            return true;
        }
    }

    function validation() {
        return oldPasswordChecking() && passwordChecking() && password2Checking();
    }

    </script>



    <%- include('../layouts/userFooter.ejs') %>